/* $color-primary: #5ae4a8;
$color-secondary: #d5f7e6;

$color-dark: #504f5b;
$color-gray: #9593a6;
$color-light: white;
$color-off-light: #f7f6ff;

$color-links: dodgerblue;
$color-warning: #ff6262;
$color-warning-light: #ff8c8c; */

$color-primary: #39a95d;
$color-primary-200: #96f4b4;
$color-primary-400: #39a95d;
$color-primary-700: #005611;
$color-secondary: #d5f7e6;

$color-dark-700: #212121;
$color-dark: #504f5b;
$color-gray: #9593a6;
$color-light-200: #b6b6b6;
$color-light: white;
$color-off-light: #eee;

$color-links: dodgerblue;
$color-warning: #ff6262;
$color-warning-light: #ff8c8c;

$color-focus: #1757CA;

$border-radius: 3rem;
$border-width: 2px;
$general-padding: 1rem;
$general-padding-lg: 2rem;

@mixin large-button {
  display: inline-block;
  background-color: $color-primary-700;
  border: $border-width solid $color-primary-700;
  border-radius: $border-radius;
  padding: 1rem 2rem;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: $color-light;
  transition: background-color .3s, border-color .3s;
  width: 100%;

  &:disabled {
    background-color: $color-gray;
    border-color: $color-gray;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

svg, path {
  pointer-events: none;
}

body {
  color: $color-dark;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: $color-dark;
  &.breadcrumb {
    color: $color-dark;
    text-decoration: none;
  }

  &.active {
    color: $color-primary;
  }
}

p {
  font-weight: 500;
  line-height: 1.5rem;

  &.error {
    color: $color-warning;
  }
}


button, a {
  cursor: pointer;
}

.btn {
  @include large-button;

  span {
    pointer-events: none;
  }

  &.btn-cta {
    background-color: $color-dark-700;
    border-color: $color-dark-700;
  }

  &.btn-secondary {
    background-color: transparent;
  }
  
  &.btn-small {
    padding: .75rem 1rem;
    background-color: $color-primary-700;
    color: $color-dark;
    border: none;
    transition: .3s;

    &:hover {
      background-color: $color-dark;
    }
  }

  &.btn-tertiary {
    background-color: $color-light;
    border-color: $color-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-dark;
    font-weight: 500;
    font-size: .9rem;

    .icon {
      background-color: $color-dark;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: $color-light;
      padding: .25rem;
    }

    &.highlighted {
      background-color: $color-primary-200;
    }
  }

  &.btn-warning {
    margin-top: 0rem;
    background-color: $color-warning;
    border-color: $color-warning;
  }

  &.btn-warning-small {
    color: $color-warning;
    background-color: transparent;
    display: inline;
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
    width: auto;
  }

  &.btn-share {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 1rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .3s;
    align-items: center;

  }

  &.btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    font-weight: 500;
  }

  &.btn-icon-small {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    font-weight: 500;
    color: $color-gray;
    font-size: .8rem;
  }

  &.btn-hamburger {
    position: relative;
    width: 2rem;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 1rem;

    span {
      background-color: $color-light;
      height: 3px;
      position: absolute;
      top: .75rem;
      left: 0;
      width: 100%;
      transition: .3s;

      &:last-child {
        top: 1.25rem;
        height: 2px;
      }
    }

    &.open {
      span {
        transform: rotate(45deg);
        top: 1rem;
        background-color: $color-light;
        height: 3px;
  
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.hero {
  margin-bottom: 0;
  background-color: $color-primary;
  color: $color-light;
  /* min-height: 50vh; */
  position: relative;

  section {
    display: flex;
    margin-top: 0;
    padding-top: 15vh;
    position: relative;
  }

  .hero-content {
    max-width: 25ch;
  }

  img {
    width: auto;
    max-height: 20vh;
  }

  h1 {
    text-align: left;
    font-size: 1.8rem;
  }

  p {
    text-align: left;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .buttons {
    margin-bottom: 10rem;
  }

  .curve {
    pointer-events: none;
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
  }
}

h2 {
  font-size: 1.5rem;
}

label {
  font-size: .8rem;
  font-weight: 500;
  background-color: $color-light;
  color: $color-dark;
  position: absolute;
  cursor: pointer;
  transform: translate(2rem, -1rem);
  padding: 0 .5rem;
}

input[type=text],
input[type=password] {
  border: 0;
  background-color: transparent;
  padding: .5rem;
  font-size: 1.1rem;
  width: 100%;
}

input[type=checkbox] {
  /* display: none; */
  opacity: 0;
  margin-left: -1rem;
  + label {
    color: $color-dark;
    font-size: 1rem;
    transform: none;
    position: static;

    span {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      display: inline-block;
      background-color: transparent;
      border: $border-width solid $color-dark;
      border-radius: 3px;
      position: relative;
      top: 2px;

      &::before {
        content: "";
        width: 3px;
        height: 1.3rem;
        background-color: transparent;
        position: absolute;
        left: .7rem;
        top: -.6rem;
        transform: rotate(30deg);
        transition: background-color .3s;
      }
  
      &::after {
        content: "";
        width: 3px;
        height: .5rem;
        background-color: transparent;
        position: absolute;
        left: .25rem;
        top: .15rem;
        transform: rotate(-50deg);
        transition: background-color .3s;
      }
    }
  }

  &:focus + label span {
    border-color: $color-focus;
  }

  &:checked + label span{
    &::before, &::after {
      background-color: $color-dark;
    }
  }
}

textarea {
  background-color: $color-light;
  border: none;
  border-radius: 1rem;
  width: 100%;
  min-height: 5rem;
  padding: .5rem;
  outline-offset: 1.2rem;
}

input:focus,
textarea:focus {
  outline-offset: 1.2rem;
  outline-color: $color-focus;
}

.navbar {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: .9rem;

  .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem $general-padding;

    max-width: 1024px;
    margin: auto;

    .right-nav {
      display: flex;
      align-items: center;
      > * + * {
        margin-left: 1rem;
      }
    }

    .logo {
      font-weight: 700;
      text-decoration: none;
      color: $color-light;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      transition: .3s;

      .icon {
        color: $color-primary-200;
        transition: color .3s
      }

      &:hover {
        color: $color-primary-200;
      }
    }

    a {
      color: $color-light;

      &:hover {
        color: $color-primary-200;
      }
    }
  }

  &.light {
    .logo {
      color: $color-dark;
    }

    a {
      color: $color-dark;
    }

    .btn.btn-hamburger span {
      background-color: $color-dark;
    }
  }
}

.large-screen-only {
  display: none;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100vw;
  top: 0;
  padding: $general-padding;
  padding-top: 15vh;
  z-index: 100;

  transition: .48s cubic-bezier(.645,.045,.355,1);
  background: linear-gradient(to bottom, $color-dark 0%, $color-dark 33%, $color-dark-700 100%);
  background: linear-gradient(to bottom, $color-primary-400 0%, $color-primary-400 33%, $color-primary-700 100%);

  &.open {
    left: 0;
  }

  ul {
    padding: 0;
    
    li {
      list-style-type: none;

      a {
        padding: 1rem 0;
        display: block;
        text-decoration: none;
        color: $color-light;
        font-weight: 900;
        font-size: 2rem;

        &.active {
          color: $color-primary-200;
        }
      }
    }
  }
}

section {
  max-width: 1024px;
  margin: 5rem auto;
  padding: $general-padding;
  width: 100%;

  &.public-decks {
    p {
      margin-bottom: 3rem;
    }
  }
}

.page-heading {

  margin: 3rem 0;

  h1, h2 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 900;
  }

  .subtitle {
    margin: 0;
    font-weight: 500;
  }
}

form {
  max-width: 45ch;

  .input-block {
    background-color: $color-light;
    border: $border-width solid $color-dark;
    border-radius: 2rem;
    padding: .5rem;
    font-size: 1.1rem;
    margin: 2rem 0;
    position: relative;
    .btn.btn-icon {
      color: $color-dark;
    }
  
    .input-row {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
  
  .btn {
    margin-top: 3rem;
  }

  &.card-editor {
    /* border: $border-width solid #ccc; */
    border-radius: 2rem;
    margin-bottom: 5rem;
    /* padding: 1rem; */
    
    textarea + label {
      top: .5rem;
      left: 0;
    }

    .btn {
      margin-top: 0;
    }
  }
}

.deck-list {
  margin-top: 5rem;

  ul {
    padding: 0;

    li + li {
      border-top: 1px solid #ccc;
    }

    li {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      transition: .3s;
      color: $color-dark;
      overflow: hidden;
      
      strong {
        font-size: 1.1rem;
        transition: color .3s;
      }

      .button-row {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;

        * + * {
          margin-left: 1rem;
        }
      }

      &.selected {
        background-color: #f9f9f9;

        strong {
          color: $color-primary-400;
        }
      }

      .btn {
        color: $color-gray;
      }

      label {
        padding: 0;
        background-color: transparent;
        position: static;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        background-color: #f9f9f9;
      }
    }
  }
}

.account-data {
  margin: 3rem 0;
  p {
    font-size: 1.1rem;
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.center {
  display: grid;
  place-content: center;
  height: 100vh;
}


.carousel {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .spacer {
    height: 7rem;
  }

  button.btn-carousel {
    position: absolute;
    z-index: 9;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    bottom: 1rem;
    margin: 0 1rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    color: $color-dark;
    transition: .3s;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &:disabled {
      opacity: .5;
    }
  }

  &__inner {
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: .5s;

  }

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flippable {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 30rem;
  perspective: 1500px;
  padding: 2rem;

  &__inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    text-align: center;
  }

  &.flipped &__inner {
    transform: rotateY(180deg);
  }

  .flippable__content {
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-light;
    color: $color-dark-700;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 

    border: 1px solid $color-dark;
    border-radius: 2rem;
  
    &.back {
      transform: rotateY(180deg);
    }
  }

  p {
    word-break: break-word;
    hyphens: auto;
    overflow-y: auto;
    white-space: pre-wrap;
    padding: 1rem;
  }

  footer {
    position: relative;
    width: 100%;
    height: 4rem;
    margin-top: 0;
    background-color: transparent;
  }

  .curl {
    /* width:4rem;
    height:4rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    display: grid;
    place-content: center;
    border: 0;
    background: 
      linear-gradient(
        135deg, 
        $color-off-light, 
        $color-light 50%, 
        #ddd 50%, 
        $color-light 55%,
      ); */

    background-color: transparent;
    border: none;

    .icon {
      color: $color-primary;
      transition: .3s;
    }

    &:hover {
      .icon {
        color: $color-primary-700;
      }
    }
  }
}

header.card-header {
  color: $color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 $general-padding;

  p {
    font-size: .8rem;
    color: $color-gray;
  }

  > div {
    display: flex;
  }

  .btn {
    padding: 1rem;
  }

}


.nav-cta {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap {
  word-break: break-word;
}

.lightbox {
  background-color: #0009;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  padding: 0;

  .lightbox-inner {
    background-color: $color-light;
    width: 90%;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
  }

  .content {
    padding: $general-padding;
  }
}

footer {
  margin-top: 10rem;
  background-color: $color-dark-700;
  color: $color-light-200;
  padding: 1rem 0 5rem 0;
  position: relative;

  section {
    margin: 5rem auto 0rem auto;
  }

  .curve {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-75%);
    pointer-events: none;
    
    svg path {
      fill: linear-gradient(to bottom, red 0%, black 100%);
    }
  }

  .logo {
    color: $color-light-200;
    font-weight: 900;
    font-size: 1.5rem;
  }

  a {
    color: $color-light-200;
    text-decoration: none;
  }

  .sitemap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;

    a {
      display: block;
      flex-basis: 100%;
      text-align: left;
      margin: .5rem 0;
    }
  }

  p {
    font-weight: 400;
  }
}

.card-design {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;

  > div {
    background-color: white;
    position: absolute;
    border: 1px solid $color-dark-700;
    border-radius: 1.5rem;

    height: 15rem;
    width: 10rem;
    left: calc(22em + 14vw);
    top: 11rem;

    display: flex;
    flex-direction: column;
    padding: 1rem;

    transform: rotate(30deg) translate(6rem);

    &:nth-child(2) {
      animation: card-design-anim-1 cubic-bezier(.645,.1,.355,1) 1.3s .4s forwards;
    }

    &:nth-child(3) {
      animation: card-design-anim-2 cubic-bezier(.645,.045,.355,1) 1.8s .2s forwards;
    }

    span:nth-child(1) {
      text-align: center;
      color: $color-gray;
      font-size: .8rem;
    }

    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      span {
        height: 1rem;
        width: 87%;
        background-color: #eee;
        margin-bottom: .5rem;
      }

      span:nth-child(2) {
        width: 70%;
      }

      span:nth-child(3) {
        width: 79%;
      }
    }

    span:nth-child(3) {
      text-align: center;
      color: $color-primary-400;
    }
  }
}

@keyframes card-design-anim-1{
  to {
    transform: rotate(0deg);
  }
}

@keyframes card-design-anim-2 {
  to {
    transform: rotate(-30deg) translateX(-6rem);
  }
}


.login,
.signup,
.dashboard,
.my-account,
.reset-password {
  padding: $general-padding;
  max-width: 1024px;
  margin: 5rem auto;
}

.dashboard-inner,
.my-account-inner {
  max-width: 45ch;
}

@media only screen and (min-width: 360px) {
  .card-design {
    display: block;
  }

  .nav-cta {
    display: block;
  }

  footer {
    .sitemap a {
      flex-basis: 50%;
    }
  }
}

@media only screen and (min-width: 512px) {
  .hero {
    h1 {
      font-size: 2.5rem;
    }

    .hero-content {
      max-width: 33ch;
      z-index: 10;
    }

    .curve {
      transform: scaleY(.5) translateY(65%);
      bottom: 0;
    }
  }

  .card-design {
    top: 0;
    > div {
      height: 15rem;
      width: 10rem;
      left: calc(20em + 30vw);
      top: 11rem;
    }
  }
}

@media only screen and (min-width: 768px) {

  h2 {
    font-size: 2rem;
  }

  .large-screen-only {
    display: block;
  }

  .small-screen-only {
    display: none;
  }

  .navbar {

    ul {
      margin: 0;
      list-style-type: none;
      display: flex;
      padding: 0;
      li {
        margin-left: 2rem;

        a {
          text-decoration: none;
          white-space: nowrap;

          &.active {
            color: $color-primary;
          }
        }
      }
    }
  }

  .hero {
    h1 {
      font-size: 2.5rem;
    }

    .hero-content {
      max-width: 33ch;
      z-index: 10;
    }
  }

  .public-decks {
    text-align: center;
    max-width: 512px;
    p {
      font-size: 1.0rem;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    > * {
      flex: 1;
    }
  }

  .carousel {
    button.btn-carousel {
      bottom: 50%;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .flippable {
    width: 30rem;
    height: 45rem;
    margin: auto;
  }

  a, ul li a {
    transition: .3s;
    &:hover {
      color: $color-primary-400;
    }
  }

  .btn {
    &:hover {
      background-color: $color-primary-200;
      border-color: $color-primary-200;
      color: $color-dark;
    }
  
    &.btn-tertiary {
      &:hover {
        border-color: $color-off-light;

        .icon {
          background-color: $color-primary-700;
        }

        &.highlighted {
          border-color: $color-primary-200;
        }
      }
    }
  
    &.btn-warning {
      &:hover {
        background-color: $color-warning-light;
        border-color: $color-warning-light;
        color: $color-light;
      }
    }
  
    &.btn-warning-small {
      color: $color-warning;
      background-color: transparent;
      display: inline;
      padding: 0;
      margin: 0;
      text-align: left;
      border: none;
      width: auto;
    }
  
    &.btn-share {

      &:hover {
        color: $color-primary;
        background-color: transparent;
      }
    }
  
    &.btn-icon {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      width: auto;
      font-weight: 500;
    }
  
    &.btn-icon-small, &.btn-icon {
      transition: .3s;
      &:hover {
        color: $color-primary;
        background-color: transparent;
      }

    }
  }

  &:disabled {
    &:hover {
      background-color: $color-gray;
      border-color: $color-gray;
    }
  }

  .lightbox {
    .lightbox-inner {
      max-width: 768px;
    }
  }

  footer {
    text-align: center;
    .curve {
      transform: translateY(-65%) scaleY(.5);
    }
    .sitemap {
      a {
        flex-basis: 25%;
        text-align: center;
      }
    }
  }

  .squares {
    position: absolute;
    top: -7rem;
    left: -10rem;
    height: 100%;
  }

  .card-design {
    top: 0;
    > div {
      height: 17rem;
      width: 10rem;
      left: calc(60vw);
      top: 11rem;
    }
  }
}