* {
  box-sizing: border-box;
}

@mixin main-font {
  font-family: 'Arial';
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #333;
}

body {
  margin: 0;
  font-family: 'Arial';
}

path, svg {
  pointer-events: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
  transition: color .3s, background-color .3s;

  &.primary {
    background-color: dodgerblue;
    color: white;
    border: 0;

    &:hover {
      background-color: rgb(86, 170, 253);
    }
  }

  &.tertiary {
    background-color: transparent;
    color: #ccc;
    border: 0;

    &:hover {
      color: dodgerblue;
    }
  }

  &.small {
    padding: 0;
  }
}

.no-events {
  pointer-events: none;
}

.light-icon {
  color: #ccc;
  transition: color .3s;
  background-color: transparent;
  border: 0;
  margin-left: 1rem;

  &:hover {
    color: dodgerblue;
    cursor: pointer;
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 1rem 3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    font-weight: 400;
    background-color: transparent;
    color: white;
    border: 0;
  }

  input.title {
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #eee;
  }

  span.title {
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 0;
    border: 1px solid transparent;
  }
}

section {
  padding: 5rem 1rem;
  flex: 1;
  overflow-y: auto;
  margin: auto;
  width: 100%;

  header {
    background-color: white;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 0rem;
    padding-bottom: .5rem;
    font-weight: bold;
  }

  p.content {
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding: 1.5rem 0;
    color: #333;
  }

  textarea.content {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 15rem;
    border: 1px solid #eee;
    @include main-font;
  }

  label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #ccc;
  }

  .editor-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}

footer {
  background-color: #eee;
  display: flex;

  button {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border: 0;
    font-weight: 400;
    transition: background-color .3s;

    &.secondary {
      background-color: rgb(30, 255, 86);
    }

    &.warning {
      background-color: rgb(255, 101, 30);
    }

    &:hover {
      background-color: rgb(86, 170, 253);
    }
  }
}

.deck-thumbnail {
  text-decoration: none;
  color: #333;
  padding: 1rem;
  border: 1px solid #eee;
  margin: 1rem;
  border-radius: .5rem;
  display: block;
}


@media only screen and (min-width: 700px) {
  section {
    width: 80ch;
  }
}