* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial';
}

path, svg {
  pointer-events: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

button.primary {
  background-color: dodgerblue;
  color: white;
  border: 0;
}

button.primary:hover {
  background-color: #56aafd;
}

button.tertiary {
  background-color: transparent;
  color: #ccc;
  border: 0;
}

button.tertiary:hover {
  color: dodgerblue;
}

button.small {
  padding: 0;
}

.no-events {
  pointer-events: none;
}

.light-icon {
  color: #ccc;
  -webkit-transition: color .3s;
  transition: color .3s;
  background-color: transparent;
  border: 0;
  margin-left: 1rem;
}

.light-icon:hover {
  color: dodgerblue;
  cursor: pointer;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 1rem 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  color: white;
  text-decoration: none;
}

header .logo:hover {
  text-decoration: underline;
}

header button {
  font-weight: 400;
  background-color: transparent;
  color: white;
  border: 0;
}

header input.title {
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #eee;
}

header span.title {
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 0;
  border: 1px solid transparent;
}

section {
  padding: 5rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  margin: auto;
  width: 100%;
}

section header {
  background-color: white;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding: 0rem;
  padding-bottom: .5rem;
  font-weight: bold;
}

section p.content {
  font-size: 1.3rem;
  line-height: 1.9rem;
  padding: 1.5rem 0;
  color: #333;
}

section textarea.content {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  height: 15rem;
  border: 1px solid #eee;
  font-family: 'Arial';
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #333;
}

section label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ccc;
}

section .editor-buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer button {
  width: 100%;
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border: 0;
  font-weight: 400;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

footer button.secondary {
  background-color: #1eff56;
}

footer button.warning {
  background-color: #ff651e;
}

footer button:hover {
  background-color: #56aafd;
}

.deck-thumbnail {
  text-decoration: none;
  color: #333;
  padding: 1rem;
  border: 1px solid #eee;
  margin: 1rem;
  border-radius: .5rem;
  display: block;
}

@media only screen and (min-width: 700px) {
  section {
    width: 80ch;
  }
}
/*# sourceMappingURL=index.css.map */