* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #eee;
}

main {
  display: flex;
  flex: 1;
}

button {
  cursor: pointer;

  &.btn-icon {
    border: 0;
    background-color: transparent;
    color: #999;
    transition: .3s;
  
    &:hover {
      color: purple;
    }
  }

  &.btn-primary {
    padding: 1rem;
    background-color: purple;
    border: 1px solid purple;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: rgb(163, 0, 163);
    }
  }

  &.btn-secondary {
    border: 0;
    background-color: transparent;
    color: #999;
    width: 100%;
    padding: 1rem;
    transition: .3s;

    &:hover {
      color: purple;
    }
  }

  &.btn-change {
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
    border: 0;
    background-color: transparent;
    position: fixed;
    transition: .3s;
    border-radius: 50%;
    z-index: 10;
    bottom: 1rem;

    &.left {
      left: 1rem;
    }

    &.right {
      right: 1rem;
    }

    .icon {
      color: #ccc;
      transition: .3s;
    }

    &:hover {
      background-color: white;
      .icon {
        color: purple;
      }
    }
  }

  &.btn-x {
    /* position: absolute; */
    top: 0;
    right: 1rem;
    background-color: transparent;
    border: 0;
    color: #ccc;
    padding: 0;
    transition: .3s;
    margin-left: 1rem;

    &:hover {
      color: purple;
    }
  }
}

path, svg {
  pointer-events: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  color: purple;
  margin: 0;
}

header {
  margin: 5rem 0 2rem 0;

  .buttons {
    text-align: center;
    margin-top: 1rem;
  }


  /* remove? */
  &.navbar {
    display: none;
    padding: 1rem 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    box-shadow : 0 .5rem 1rem rgba(0, 0, 0, .1);

    .logo {
      color: purple;
      text-decoration: none;
      font-weight: 900;
      font-size: 1.2rem;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;

  &.landing {
    text-align: center;

    p {
      color: purple;
      font-size: 1.2rem;
    }
  }
}

input[type=text],
textarea {
  padding: 1rem;
  border-radius: .5rem;  
  border: 1px solid #eee;
  font-size: 1rem;
  margin-bottom: 3rem;
  background-color: #f9f9f9;
}

textarea {
  height: 10rem;
}

label {
  color: purple;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  button {
    padding: 1rem;
    background-color: purple;
    border: 1px solid purple;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(163, 0, 163);
    }

    &.btn-secondary {
      margin: 1rem 0;
      background-color: #f9f9f9;
      color: rgb(202, 0, 0);
      border: 1px solid #eee;
      width: 100%;

      &:hover {
        color: red;
        background-color: #f0f0f0;
      }
      
    }
  }

  &#new-deck {
    margin: 3rem 0;

    > div {
      display: flex;
    }

    input[type=text] {
      margin-bottom: 0;
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      min-width: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #f9f9f9;
      border: 0;
      color: purple;
      border: 1px solid #eee;
      border-left: 0;

      &:hover {
        background-color: purple;
        color: white;
      }
    }
  }
}

.button-list {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem 0;
    padding: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s;
    border: 1px solid transparent;

    label {
      color: #333;
      pointer-events: none;
    }

    input[type=checkbox] {
      display: none;
      + label {
        span {
          width: 1rem;
          height: 1rem;
          margin-right: 1rem;
          display: inline-block;

          background-color: transparent;
          border: 2px solid #ccc;
          border-radius: 4px;
        }
      }

      &:checked + label span{
        background-color: purple;
        border: 2px solid purple;
      }
    }

    &:hover {
      background-color: #f0f0f0;

      input[type=checkbox] + label span{
        background-color: purple;
      }
    }

    &.selected {
      background-color: #f9f9f9;
      border-color: #eee;

      label {
        color: purple;
      }

      &:hover {
        background-color: #f0f0f0;
      }

      
    }
  }
}

.btn-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: .3s;

  path {
    fill: #999;
  }

  &:hover {
    background-color: #eee;
  }

  &.accent {
    font-weight: bold;
    background-color: purple;
    color: white;
    border: 1px solid purple;

    path {
      fill: white;
    }

    &:hover {
      background-color: rgb(163, 0, 163);
    }
  }
}

.btn-circle {
  text-align: center;
  padding: 1rem;
  background-color: purple;
  color: white;
  border: 1px solid purple;
  border-radius: .5rem;
  text-decoration: none;
  font-weight: bold;
}

.card-wrapper {
  position: relative;
  /* height: calc(100% - 12rem); */
  height: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    height: 100%;
    width: 100%;
  }

  &.fill {
    height: 100vh;
  }
}

.card {
  padding: 5rem 1rem;
  background-color: white;
  transition: .5s;
  overflow-y: auto;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.0rem;
  }

  header {
    margin: 0;
    color: #999;
    display: flex;
    justify-content: flex-end;
    align-items:baseline;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 2rem;

    h2 {
      font-size: 1rem;
      color: #ccc;
      margin-left: 1rem;
    }
  }
}

.editor {
  padding: 5rem 1rem;
  background-color: white;
  position: relative;
  transition: .5s;
  overflow-y: auto;
  height: 100vh;
  z-index: 100;

  header {
    margin: 0;
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}




.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  

  .loader-icon {
    color: purple;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.sidebar {
  width: 100%;
  background-color: white;
  height: 100%;
  padding: 1rem;
  margin-left: -100%;
  transition: .3s;
  position: fixed;
  z-index: 99;
  padding-top: 5rem;

  .btn-sidebar {
    position: fixed;
    right: 1rem;
    top: .8rem;
    color: #ccc;
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transition: .3s;
    background-color: transparent;
    display: grid;
    place-content: center;
    z-index: 99;


    &:hover {
      color: purple;
      background-color: white;
    }


  }

  &.open {
    margin-left: 0rem;
  }

  .logo {
    color: purple;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 1rem 0;
    display: block;
    position: fixed;
    left: 1rem;
    top: 1rem;
    transition: .3s;
    z-index: 99;

    &:hover {
      color: rgb(163, 0, 163);
    }
  }
}





.curl {
	width:5rem;
	height:5rem;
	position: absolute;
  right: 1rem;
  bottom: 0;
  display: grid;
  place-content: center;
  border: 0;
	
	background : 
		linear-gradient(
			135deg, 
			#f9f9f9, 
			#f9f9f9 50%, 
			#ddd 50%, 
      #eee 55%,
		);
	/* box-shadow : 0 0 1rem rgba(0, 0, 0, .3); */

  .icon {
    color: #ccc;
    transition: .3s;
  }

  &:hover {
    .icon {
      color: purple;
    }
  }
}


@media only screen and (min-width: 768px) {
  .sidebar {
    max-width: 50%;
  }

  .card-wrapper {
    margin: auto;
    max-height: 25rem;
    width: 66%;
  }

  button {
  
    &.btn-change {
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: calc(50% - 2.5rem);
  
      &.left {
        left: -6rem;
      }
  
      &.right {
        right: -6rem;
      }
    }
  }

}

@media only screen and (max-width: 400px) {
  .card-wrapper {
    height: calc(100% - 12rem);
  }
}

@media only screen and (min-width: 960px) {

  section {
    margin: auto;
    /* width: 60ch; */
  }

  .card-wrapper {
    max-width: 60ch;

    &.fill {
      max-width: 100%;
    }

  }

  .card {
    padding: 5rem;
    /* margin: 5rem 1rem; */
  }

  .editor {
    padding: 5rem;

    > *, > .btn-secondary {
      margin: auto;
      max-width: 60ch;
    }

    header {
      margin: 2rem auto;
    }
  }

  .sidebar {
    position: relative;
    width: 30rem;
    margin-left: -30rem;
  
    .btn-sidebar {
      position: absolute;
      right: -5rem;
    }
  
    .logo {
      position: absolute;
      left: initial;
      right: -15rem;
    }
  }
}