$color-primary: black;
$color-primary-light: #666;
$color-background: #f9f9f9;
$color-light: white;
$color-off-light: #f9f9f9;
$color-medium: #eee;
$color-medium-dark: #999;

$border-radius: .5rem;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
}

main {
  display: flex;
  flex: 1;
}

path, svg {
  pointer-events: none;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

/* Buttons */

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  transition: .3s;
  font-size: 1rem;
  padding: 0;
  color: $color-medium-dark;

  &.btn-icon {
    color: $color-medium-dark;
  
    &:hover {
      color: $color-primary;
    }
  }

  &.btn-primary {
    padding: 1rem;
    background-color: $color-primary;
    border-radius: $border-radius;
    color: $color-light;
    font-weight: bold;
    width: 100%;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &.btn-secondary {
    color: $color-medium-dark;
    width: 100%;
    padding: 1rem;

    &:hover {
      color: red;
    }
  }

  &.btn-save {
    right: 2rem;
    bottom: 1rem;
    color: $color-light;
    background-color: $color-primary;
    border-radius: $border-radius;
    width: 100%;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &.btn-x {
    margin-left: 1rem;

    &:hover {
      color: $color-primary;
    }
  }
}

/* End Buttons */

input[type=text],
input[type=password],
textarea {
  padding: 1rem;
  border-radius: $border-radius;  
  border: 1px solid $color-medium;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: $color-off-light;
}

textarea {
  height: 100%;
  width: 100%;
}

label {
  color: #aaa;
  font-weight: 400;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &#new-deck {
    margin-bottom: 2rem;
    height: auto;

    > div {
      display: flex;
    }

    input[type=text] {
      margin-bottom: 0;
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      min-width: 0;
    }

    button {
      border-radius: $border-radius;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $color-off-light;
      border: 0;
      color: $color-primary;
      border: 1px solid $color-medium;
      border-left: 0;
      width: 3rem;
      transition: .3s;

      &:hover {
        background-color: $color-primary;
        color: $color-light;
      }
    }
  }

  .buttons {
    display: flex;
  }

  &.mini {
    padding: 0;

    input {
      margin-bottom: 1rem;
      padding: 1rem;
      min-width: 0;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
}

/* DeckList Component */

.deck-list {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem 0;
    padding: 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    transition: .2s;
    border: 1px solid transparent;
 
    label {
      color: #333;
      pointer-events: none;
    }

    input[type=checkbox] {
      display: none;
      + label {
        span {
          width: 1rem;
          height: 1rem;
          margin-right: 1rem;
          display: inline-block;
          background-color: transparent;
          border: 2px solid #ccc;
          border-radius: 4px;
        }
      }

      &:checked + label span{
        background-color: $color-primary;
        border: 2px solid $color-primary;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }

    &:hover {
      background-color: $color-medium;
    }

    &.selected {
      background-color: $color-off-light;
      border-color: $color-medium;

      label {
        color: $color-primary;
      }

      &:hover {
        background-color: $color-medium;
      }
    }
  }
}

/* End DeckList Component */

/* Loader Component */

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  

  .loader-icon {
    color: $color-primary;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* End Loader Component */

/* Nav Component */

.navbar {
  padding: 1rem;
  border-bottom: 1px solid $color-medium;
  width: 100%;
  background-color: $color-light;
  box-shadow : 0 .5rem .5rem rgba(0, 0, 0, .05);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  .logo {
    color: $color-primary;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2rem;
  }
}

/* End Nav Component */

/* Sidebar Component */

.sidebar {
  width: 100%;
  background-color: $color-light;
  height: 100%;
  margin-left: -100%;
  transition: .3s;
  position: fixed;
  z-index: 99;
  padding: 5rem 1rem 1rem 1rem;
  overflow-y: auto;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.open {
    margin-left: 0rem;
  }
}

/* End Sidebar Component */



.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .spacer {
    height: 7rem;
  }

  button.btn-carousel {
    position: absolute;
    z-index: 9;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 3rem;
    background-color: $color-medium-dark;
    bottom: 1rem;
    margin: 0 1rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: $color-medium-dark;

    &:hover {
      color: $color-primary;
      background-color: white;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &:disabled {
      opacity: .5;
    }
  }

  &__inner {
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: .5s;
  }

  &__item {
    width: 100%;
    height: 100%;
    /* display: grid;
    place-content: center; */
  }

  /* &__card {
    width: 50vw;
    background-color: white;
    height: 25rem;
    display: grid;
    place-content: center;
  } */
}

header {
  color: $color-medium-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  &:first-child {
    font-weight: bold;
    color: $color-medium-dark;
  }

  &:last-child {
    /* */
  }
}

.flippable {
  background-color: transparent;
  height: 100%;
  width: 100vw;
  perspective: 1500px;
  padding: 1rem;

  &__inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    text-align: center;
  }

  &.flipped &__inner {
    transform: rotateY(180deg);
  }

  .flippable__content {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
  
    &.back {
      transform: rotateY(180deg);
    }
  }

  p {
    word-break: break-word;
    hyphens: auto;
    overflow-y: auto;
  }

  footer {
    position: relative;
    width: 100%;
    height: 4rem;
  }

  .curl {
    width:4rem;
    height:4rem;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    display: grid;
    place-content: center;
    background : 
      linear-gradient(
        135deg, 
        $color-off-light, 
        $color-off-light 50%, 
        #ddd 50%, 
        $color-off-light 55%,
      );

    .icon {
      color: $color-medium-dark;
      transition: .3s;
    }

    &:hover {
      .icon {
        color: $color-primary;
      }
    }
  }
}



/* Media Queries */

@media only screen and (min-width: 768px) {

  .card-wrapper {
    width: 50vw;
  }

  .carousel {
    button.btn-carousel {
      top: 50%;
      transform: translateY(-50%);
    }

    .spacer {
      display: none;
    }

    &__item {
      display: grid;
      place-content: center;
    }
  }

  .flippable {
    width: 50vw;

    &__inner {
      height: 25rem;
    }
  }

  .sidebar {
    padding: 5rem 10rem;
  }
}

@media only screen and (min-width: 960px) {

  .card {
    padding: 4rem 5rem;

    header div {
      top: -3rem;
      right: -4rem;
    }

    .curl {
      right: -5rem;
      bottom: -4rem;
    }
  }

  .sidebar {
    position: relative;
    width: 30rem;
    margin-left: -30rem;
    padding: 1rem 1rem;
  }
}