$color-primary: dodgerblue;
$color-primary-light: #666;
$color-secondary: rgb(51, 224, 103);
$color-secondary-light: rgb(190, 255, 233);
$color-tertiary: #ccc;
$color-tertiary-light: #eee;
$color-warning: rgb(255, 30, 86);
$color-warning-light: rgb(250, 84, 125);
$color-background: #f9f9f9;
$color-light: white;
$color-off-light: #f9f9f9;
$color-medium: #eee;
$color-medium-dark: #999;
$border-radius: .5rem;

@mixin main-button {
  padding: 1rem;
  border-radius: $border-radius;
  color: $color-light;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0;
  text-align: center;

  &:disabled {
    color: $color-medium;
    background-color: $color-medium-dark
  }
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
}

main {
  display: flex;
  flex: 1;
}

path, svg {
  pointer-events: none;
}

h1 {
  color: $color-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

p.error {
  color: red;
}

p.success {
  color: $color-primary;
}

/* Buttons */

button, a {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  transition: .3s;
  font-size: 1rem;
  padding: 0;
  color: $color-medium-dark;

  &.btn-icon {
    color: $color-medium-dark;
  
    &:hover {
      color: $color-primary;
    }
  }

  &.btn-x {
    margin-left: 1rem;

    &:hover {
      color: $color-primary;
    }
  }

  &.btn-primary {
    @include main-button;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &.btn-secondary {
    @include main-button;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-light;
    }
  }

  &.btn-tertiary {
    @include main-button;
    background-color: $color-tertiary;

    &:hover {
      background-color: $color-tertiary-light;
    }
  }

  &.btn-warning {
    @include main-button;
    background-color: $color-warning;

    &:hover {
      background-color: $color-warning-light;
    }
  }

  &.btn-save {
    right: 2rem;
    bottom: 1rem;
    padding: 1rem;
    color: $color-light;
    background-color: $color-primary;
    border-radius: $border-radius;
    width: 100%;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &.link {
    padding: 1rem 0;
    border-bottom: 1px solid $color-medium;
    display: block;
  }
}

a {
  text-decoration: none;
}

.sample-list {
  margin-top: 3rem;
}

/* End Buttons */

input[type=text],
input[type=password],
textarea {
  padding: 1rem;
  border-radius: $border-radius;  
  border: 1px solid $color-medium;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: $color-light;
}

textarea {
  height: 100%;
  width: 100%;
}

label {
  color: #aaa;
  font-weight: 400;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &#new-deck {
    margin-bottom: 2rem;
    height: auto;

    > div {
      display: flex;
    }

    input[type=text] {
      margin-bottom: 0;
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      min-width: 0;
      border-color: $color-medium;
      outline: none;
      transition: .3s;
      
      &:focus {
        border-color: $color-primary;

        + button {
          border-color: $color-primary;
        }

      }

    }

    button {
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $color-light;
      border: 0;
      color: $color-primary;
      border: 1px solid $color-medium;
      border-left: 0;
      width: 3rem;
      transition: .3s;

      &:hover {
        background-color: $color-primary;
        color: $color-light;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  &.mini {
    padding: 0;

    input {
      margin-bottom: 1rem;
      padding: 1rem;
      min-width: 0;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;

  &.center {
    place-content: center;
  }
}

/* DeckList Component */

input[type=checkbox] {
  display: none;
  + label {
    color: #333;
    span {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      display: inline-block;
      background-color: transparent;
      border: 2px solid #ccc;
      border-radius: 4px;
      position: relative;
      top: 2px;

      &:before {
        content: "";
        width: 2px;
        height: 8px;
        background-color: white;
        position: absolute;
        left: .4rem;
        top: .15rem;
        transform: rotate(30deg);
      }

      &:after {
        content: "";
        width: 2px;
        height: 4px;
        background-color: white;
        position: absolute;
        left: .2rem;
        top: .35rem;
        transform: rotate(-50deg);
      }
    }
  }

  &:checked + label span{
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.deck-list {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem 0;
    padding: 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    transition: .2s;
    border: 1px solid transparent;
    background-color: $color-off-light;
    border-color: $color-medium;
 
    label {
      color: #333;
      pointer-events: none;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }

    &.selected {
      border-color: $color-primary; 
    }
  }
}

/* End DeckList Component */

/* Loader Component */

.spinner {
  color: $color-primary;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* End Loader Component */

/* Nav Component */

.navbar {
  width: 100%;
  border-bottom: 1px solid $color-medium;
  padding: 1rem;
  background-color: $color-light;
  box-shadow : 0 .5rem .5rem rgba(0, 0, 0, .05);
  z-index: 999;
}

.nav-inner {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 60ch;

  .logo {
    color: $color-primary;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2rem;
  }

  nav {
    display: none;
  }
}

/* End Nav Component */


/* Mobile Menu Component */

.mobile-menu {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  background-color: $color-background;
  top: 0;
  left: -100vw;
  transition: left .3s;
  padding: 2rem;
  padding-top: 7rem;
  z-index: 500;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    li {
      list-style-type: none;
    }
  }

  &.open {
    left: 0;
  }
}

/* End Mobile Menu Component */

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .spacer {
    height: 7rem;
  }

  button.btn-carousel {
    position: absolute;
    z-index: 9;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 3rem;
    background-color: $color-medium-dark;
    bottom: 1rem;
    margin: 0 1rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: $color-medium-dark;

    &:hover {
      color: $color-primary;
      background-color: white;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &:disabled {
      opacity: .5;
    }
  }

  &__inner {
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: .5s;
  }

  &__item {
    width: 100%;
    height: 100%;
    /* display: grid;
    place-content: center; */
  }

  /* &__card {
    width: 50vw;
    background-color: white;
    height: 25rem;
    display: grid;
    place-content: center;
  } */
}

header {
  color: $color-medium-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  &:first-child {
    font-weight: bold;
    color: $color-medium-dark;
  }

  &:last-child {
    /* */
  }
}

header.hero {
  flex-direction: column;
  justify-content: center;
  color: $color-primary;
  height: 30vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;

  form {
    height: auto;

    input {
      background-color: white;
    }

    input[type=checkbox] {
      margin-right: 1rem;
    }

    .form-row {
      margin-bottom: 2rem;
    }
  }
}

.flippable {
  background-color: transparent;
  height: 100%;
  width: 100vw;
  perspective: 1500px;
  padding: 1rem;

  &__inner {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    text-align: center;
  }

  &.flipped &__inner {
    transform: rotateY(180deg);
  }

  .flippable__content {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
  
    &.back {
      transform: rotateY(180deg);
    }
  }

  p {
    word-break: break-word;
    hyphens: auto;
    overflow-y: auto;
  }

  footer {
    position: relative;
    width: 100%;
    height: 4rem;
  }

  .curl {
    width:4rem;
    height:4rem;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    display: grid;
    place-content: center;
    background : 
      linear-gradient(
        135deg, 
        $color-off-light, 
        $color-off-light 50%, 
        #ddd 50%, 
        $color-off-light 55%,
      );

    .icon {
      color: $color-medium-dark;
      transition: .3s;
    }

    &:hover {
      .icon {
        color: $color-primary;
      }
    }
  }
}




.landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;



  h1 {
    margin-bottom: 2rem;
    font-weight: 700;
  }
}

.dashboard {
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;
}



/* Media Queries */

@media only screen and (min-width: 768px) {

  .card-wrapper {
    width: 50vw;
  }

  .navbar .nav-inner {

    .small-screen-only {
      display: none;
    }

    nav {
      display: block;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          padding: 0rem 1rem;

          a {
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .carousel {
    button.btn-carousel {
      top: 50%;
      transform: translateY(-50%);
    }

    .spacer {
      display: none;
    }

    &__item {
      display: grid;
      place-content: center;
    }
  }

  .flippable {
    width: 50vw;

    &__inner {
      height: 25rem;
    }
  }

  form .buttons {
    flex-direction: row;
    gap: 1rem;
  }
}

@media only screen and (min-width: 960px) {

  .card {
    padding: 4rem 5rem;

    header div {
      top: -3rem;
      right: -4rem;
    }

    .curl {
      right: -5rem;
      bottom: -4rem;
    }
  }
}

