* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

path, svg {
  pointer-events: none;
}

h1 {
  color: dodgerblue;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

p.error {
  color: red;
}

/* Buttons */
button, a {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 1rem;
  padding: 0;
  color: #999;
}

button.btn-icon, a.btn-icon {
  color: #999;
}

button.btn-icon:hover, a.btn-icon:hover {
  color: dodgerblue;
}

button.btn-x, a.btn-x {
  margin-left: 1rem;
}

button.btn-x:hover, a.btn-x:hover {
  color: dodgerblue;
}

button.btn-primary, a.btn-primary {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0;
  text-align: center;
  background-color: dodgerblue;
}

button.btn-primary:disabled, a.btn-primary:disabled {
  color: #eee;
  background-color: #999;
}

button.btn-primary:hover, a.btn-primary:hover {
  background-color: #666;
}

button.btn-secondary, a.btn-secondary {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0;
  text-align: center;
  background-color: #33e067;
}

button.btn-secondary:disabled, a.btn-secondary:disabled {
  color: #eee;
  background-color: #999;
}

button.btn-secondary:hover, a.btn-secondary:hover {
  background-color: #beffe9;
}

button.btn-tertiary, a.btn-tertiary {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0;
  text-align: center;
  background-color: #ccc;
}

button.btn-tertiary:disabled, a.btn-tertiary:disabled {
  color: #eee;
  background-color: #999;
}

button.btn-tertiary:hover, a.btn-tertiary:hover {
  background-color: #eee;
}

button.btn-warning, a.btn-warning {
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: .5rem 0;
  text-align: center;
  background-color: #ff1e56;
}

button.btn-warning:disabled, a.btn-warning:disabled {
  color: #eee;
  background-color: #999;
}

button.btn-warning:hover, a.btn-warning:hover {
  background-color: #fa547d;
}

button.btn-save, a.btn-save {
  right: 2rem;
  bottom: 1rem;
  padding: 1rem;
  color: white;
  background-color: dodgerblue;
  border-radius: 0.5rem;
  width: 100%;
}

button.btn-save:hover, a.btn-save:hover {
  background-color: #666;
}

button.link, a.link {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  display: block;
}

a {
  text-decoration: none;
}

.sample-list {
  margin-top: 3rem;
}

/* End Buttons */
input[type=text],
input[type=password],
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

textarea {
  height: 100%;
  width: 100%;
}

label {
  color: #aaa;
  font-weight: 400;
  margin: 1rem 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

form#new-deck {
  margin-bottom: 2rem;
  height: auto;
}

form#new-deck > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form#new-deck input[type=text] {
  margin-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  min-width: 0;
  border-color: #eee;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

form#new-deck input[type=text]:focus {
  border-color: dodgerblue;
}

form#new-deck input[type=text]:focus + button {
  border-color: dodgerblue;
}

form#new-deck button {
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  border: 0;
  color: dodgerblue;
  border: 1px solid #eee;
  border-left: 0;
  width: 3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

form#new-deck button:hover {
  background-color: dodgerblue;
  color: white;
}

form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.mini {
  padding: 0;
}

form.mini input {
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 0;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.container.center {
  place-content: center;
}

/* DeckList Component */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  color: #333;
}

input[type=checkbox] + label span {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  top: 2px;
}

input[type=checkbox] + label span:before {
  content: "";
  width: 2px;
  height: 8px;
  background-color: white;
  position: absolute;
  left: .4rem;
  top: .15rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

input[type=checkbox] + label span:after {
  content: "";
  width: 2px;
  height: 4px;
  background-color: white;
  position: absolute;
  left: .2rem;
  top: .35rem;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

input[type=checkbox]:checked + label span {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
}

.deck-list {
  list-style-type: none;
  padding: 0;
}

.deck-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: .5rem 0;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid transparent;
  background-color: #f9f9f9;
  border-color: #eee;
}

.deck-list li label {
  color: #333;
  pointer-events: none;
}

.deck-list li .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.deck-list li.selected {
  border-color: dodgerblue;
}

/* End DeckList Component */
/* Loader Component */
.spinner {
  color: dodgerblue;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* End Loader Component */
/* Nav Component */
.navbar {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.nav-inner {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 60ch;
}

.nav-inner .logo {
  color: dodgerblue;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2rem;
}

.nav-inner nav {
  display: none;
}

/* End Nav Component */
/* Mobile Menu Component */
.mobile-menu {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  background-color: #f9f9f9;
  top: 0;
  left: -100vw;
  -webkit-transition: left .3s;
  transition: left .3s;
  padding: 2rem;
  padding-top: 7rem;
  z-index: 500;
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu ul li {
  list-style-type: none;
}

.mobile-menu.open {
  left: 0;
}

/* End Mobile Menu Component */
.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* &__card {
    width: 50vw;
    background-color: white;
    height: 25rem;
    display: grid;
    place-content: center;
  } */
}

.carousel .spacer {
  height: 7rem;
}

.carousel button.btn-carousel {
  position: absolute;
  z-index: 9;
  width: 5rem;
  height: 5rem;
  color: white;
  font-size: 3rem;
  background-color: #999;
  bottom: 1rem;
  margin: 0 1rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: #999;
}

.carousel button.btn-carousel:hover {
  color: dodgerblue;
  background-color: white;
}

.carousel button.btn-carousel.left {
  left: 0;
}

.carousel button.btn-carousel.right {
  right: 0;
}

.carousel button.btn-carousel:disabled {
  opacity: .5;
}

.carousel__inner {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5s;
  transition: .5s;
}

.carousel__item {
  width: 100%;
  height: 100%;
  /* display: grid;
    place-content: center; */
}

header {
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

header:first-child {
  font-weight: bold;
  color: #999;
}

header:last-child {
  /* */
}

header.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: dodgerblue;
  height: 30vh;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;
}

.login form {
  height: auto;
}

.login form input {
  background-color: white;
}

.login form input[type=checkbox] {
  margin-right: 1rem;
}

.login form .form-row {
  margin-bottom: 2rem;
}

.flippable {
  background-color: transparent;
  height: 100%;
  width: 100vw;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  padding: 1rem;
}

.flippable__inner {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  text-align: center;
}

.flippable.flipped .flippable__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flippable .flippable__content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.flippable .flippable__content.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flippable p {
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow-y: auto;
}

.flippable footer {
  position: relative;
  width: 100%;
  height: 4rem;
}

.flippable .curl {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: linear-gradient(135deg, #f9f9f9, #f9f9f9 50%, #ddd 50%, #f9f9f9 55%);
}

.flippable .curl .icon {
  color: #999;
  -webkit-transition: .3s;
  transition: .3s;
}

.flippable .curl:hover .icon {
  color: dodgerblue;
}

.landing {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;
}

.landing h1 {
  margin-bottom: 2rem;
  font-weight: 700;
}

.dashboard {
  padding: 2rem;
  width: 100%;
  max-width: 60ch;
  margin: auto;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .card-wrapper {
    width: 50vw;
  }
  .navbar .nav-inner .small-screen-only {
    display: none;
  }
  .navbar .nav-inner nav {
    display: block;
  }
  .navbar .nav-inner nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .nav-inner nav ul li {
    padding: 0rem 1rem;
  }
  .navbar .nav-inner nav ul li a {
    border: 0;
    padding: 0;
  }
  .carousel button.btn-carousel {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .carousel .spacer {
    display: none;
  }
  .carousel__item {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .flippable {
    width: 50vw;
  }
  .flippable__inner {
    height: 25rem;
  }
  form .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  .card {
    padding: 4rem 5rem;
  }
  .card header div {
    top: -3rem;
    right: -4rem;
  }
  .card .curl {
    right: -5rem;
    bottom: -4rem;
  }
}
/*# sourceMappingURL=styles.css.map */